theme = Belafonte Night
background = #211f1e
bold-is-bright = true
foreground = #968c83
selection-background = #45373c
selection-foreground = #968c83
cursor-color = #968c83
cursor-text = #20111b
palette = 0=#20111b
palette = 1=#885554
palette = 2=#858162
palette = 3=#B67723
palette = 4=#757A7C
palette = 5=#97522c
palette = 6=#989a9c
palette = 7=#968c83
palette = 8=#5e5252
palette = 9=#347876
palette = 10=#858162
palette = 11=#AD6A11
palette = 12=#4E5D62
palette = 13=#97522c
palette = 14=#989a9c
palette = 15=#d5ccba
